<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VPBS Project Management </title>

    <!-- Bootstrap -->
    <link href="{% static 'ProjectManagement/vendors/bootstrap/dist/css/bootstrap.min.css '%}'" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'ProjectManagement/vendors/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'ProjectManagement/vendors/nprogress/nprogress.css'%}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'ProjectManagement/vendors/iCheck/skins/flat/green.css'%}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'ProjectManagement/build/css/custom.min.css'%}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container ">
      <div class="">
        

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav style="display: inline;">
              
              <ul class="nav navbar-nav navbar-left" >
                  <li><a href="{% url 'ProjectManagement:index' %}"><i class="fa fa-home "></i> Overview </a></li>
                  <li><a href="{% url 'ProjectManagement:activity' %}"><i class="fa fa-paw "></i> Activities </a></li>
                  <li><a href="{% url 'ProjectManagement:gantt' %}"><i class="fa fa-bar-chart "></i> Gantt </a></li>
                  <li><a href="{% url 'ProjectManagement:projectoverview' %}"><i class="fa fa-bullseye "></i> Project </a></li>
                  <li><a href="{% url 'ProjectManagement:news' %}"><i class="fa fa-newspaper-o "></i> News </a></li>
                  <li><a href="{% url 'ProjectManagement:support' %}"><i class="fa fa-support "></i> Support </a></li>
<!--               </ul>

              <ul class="nav navbar-nav navbar-right" >      -->
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="">Hoàng hihi
                    <span class=" fa fa-angle-down"></span>
                  </a>
                        <ul class="dropdown-menu dropdown-usermenu dropdown-menu-right pull-right">
                          <li><a href="javascript:;"> Profile</a></li>
                          <li>
                            <a href="javascript:;">
                              <span class="badge bg-red pull-right">50%</span>
                              <span>Settings</span>
                            </a>
                          </li>
                          <li><a href="javascript:;">Help</a></li>
                          <li><a href="{% url 'ProjectManagement:login'%}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
                
              </ul>
              

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add new member</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Project <small>Project Name </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">



                      <div class="form-group" >
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Member Id <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="padding-left: 200px">
                          <button type="submit" class="btn btn-success">Add Member</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <<!-- footer>
          <div class="pull-right">
            VPBS Project Management - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer> -->
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'ProjectManagement/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'ProjectManagement/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'ProjectManagement/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'ProjectManagement/vendors/nprogress/nprogress.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'ProjectManagement/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'ProjectManagement/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'ProjectManagement/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="{% static 'ProjectManagement/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/google-code-prettify/src/prettify.js' %}"></script>
    <!-- jQuery Tags Input -->
    <script src="{% static 'ProjectManagement/vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
    <!-- Switchery -->
    <script src="{% static 'ProjectManagement/vendors/switchery/dist/switchery.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'ProjectManagement/vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- Parsley -->
    <script src="{% static 'ProjectManagement/vendors/parsleyjs/dist/parsley.min.js' %}"></script>
    <!-- Autosize -->
    <script src="{% static 'ProjectManagement/vendors/autosize/dist/autosize.min.js' %}"></script>
    <!-- jQuery autocomplete -->
    <script src="{% static 'ProjectManagement/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
    <!-- starrr -->
    <script src="{% static 'ProjectManagement/vendors/starrr/dist/starrr.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'ProjectManagement/build/js/custom.min.js' %}"></script>
	
  </body>
</html>
