<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VPBS Project Management </title>

    <!-- Bootstrap -->
    <!-- {% static 'ProjectManagement/build/css/custom.min.css' %} -->
    <link href="{% static 'ProjectManagement/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'ProjectManagement/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'ProjectManagement/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'ProjectManagement/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="{% static 'ProjectManagement/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'ProjectManagement/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'ProjectManagement/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'ProjectManagement/build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container ">
      <div class="">
        

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav style="display: inline;">
              
              <ul class="nav navbar-nav navbar-left" >
                <li><a href="{% url 'ProjectManagement:index' user.id %}"><i class="fa fa-home "></i> Overview </a></li>
                <li><a href="{% url 'ProjectManagement:activity' user.id %}"><i class="fa fa-paw "></i> Activities </a></li>
                <li><a href="{% url 'ProjectManagement:gantt' user.id %}"><i class="fa fa-bar-chart "></i> Gantt </a></li>
                <li><a href="{% url 'ProjectManagement:projectoverview' user.id %}"><i class="fa fa-bullseye "></i> Project </a></li>
                <li><a href="{% url 'ProjectManagement:news' user.id %}"><i class="fa fa-newspaper-o "></i> News </a></li>
                <li><a href="{% url 'ProjectManagement:support' user.id %}"><i class="fa fa-support "></i> Support </a></li>
                <li><a href=""><i class="fa fa-user "></i> {{user.Role}} </a></li>
<!--               </ul>
                {% static 'ProjectManagement/images/img.jpg' %}
              <ul class="nav navbar-nav navbar-right" >      -->
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="">{{user.Fullname}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                        <ul class="dropdown-menu dropdown-usermenu dropdown-menu-right pull-right">
                          <li><a href="javascript:;"> Profile</a></li>
                          <li>
                            <a href="javascript:;">
                              <span class="badge bg-red pull-right">50%</span>
                              <span>Settings</span>
                            </a>
                          </li>
                          <li><a href="javascript:;">Help</a></li>
                          <li><a href="{% url 'ProjectManagement:login'%}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% static 'ProjectManagement/images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
                
              </ul>
              

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3> Gantt chart: <i><small> Task Scheduling </small></i> 
                    </h3>
                  </div>
                  <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                  </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div id="chart_plot_01" class="demo-placeholder"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                  <div class="x_title">
                    <h2>Project Infomation</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                       
                    </div>
                    <div>
                      <p style="font-size: 16px "> Done: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{project.Done}}%
                          <div class="progress progress_sm" style="width: 95%;">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{project.Done}}"> </div>
                          </div>
                      </p> 
                    </div>
                    <div>
                      <p style="font-size: 16px "> Start Date:  &emsp;&emsp;&emsp;&emsp;{{project.StartDate}} </p> 
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p style="font-size: 16px "> Due Date:  &emsp;&emsp;&emsp;&emsp;{{project.DueDate}} </p> 
                    </div>
                    <div>
                      <p style="font-size: 16px "> Description:</p> 
                      <div>{{project.Description}}
                      </div>
                    </div>
                  </div>

                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <br />


          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Projects <small> <i> {{project.Name}} </i></small> 
                  <button class="btn btn-default" type="button">
                  {% if user.perm_createpj %}
                    <a href="{% url 'ProjectManagement:editproject' user.id project.id %}" style="color:black">Edit Project</a>
                    {% else %}
                    <a href="#" style="color:black">Edit Project</a>
                  {% endif %}
                  </button>
                </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Tasks List</h2> 
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      {% if user.perm_createtask %}
                      <li><a href="{% url 'ProjectManagement:newtask' user.id project.id %}" ><i class="fa fa-plus"></i></a>
                      {% else %}
                      <li><a href="" ><i class="fa fa-plus"></i></a>
                      {% endif %}
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <p>Simple table with project listing with progress and editing options</p>

                    <!-- start project list -->
                  <!-- <ul class="nav child_menu"> -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%">Task Name</th>
                          <th style="width: 10%">Start Date</th>
                          <th style="width: 10%">Due Date </th>
                          <th>Team Members</th>
                          <th>Task Progress</th>
                          <th>Status</th>
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for task in project.task_set.all %}
                        <tr>
                          <td>
                            {{task.id}}
                          </td>
                          <td>
                            <a href="/ProjectManagement/{{ user.id }}/{{ project.id }}/{{task.id}}/">{{task.Name}}</a>
                            <br />
                            <small>Created 01.01.2015</small>
                          </td>
                          <td>
                            {{task.StartDate}}
                          </td>
                          <td>
                            {{task.DueDate}}
                          </td>
                          <td>
                            <ul class="list-inline">
                              <li>
                                <img src="{% static 'ProjectManagement/images/user.png' %}" class="avatar" alt="Avatar">
                              </li>
                              <li>
                                <img src="{% static 'ProjectManagement/images/user.png' %}" class="avatar" alt="Avatar">
                              </li>
                              <li>
                                <img src="{% static 'ProjectManagement/images/user.png' %}" class="avatar" alt="Avatar">
                              </li>
                              <li>
                                <img src="{% static 'ProjectManagement/images/user.png' %}" class="avatar" alt="Avatar">
                              </li>
                            </ul>
                          </td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{task.Done}}"></div>
                            </div>
                            <small>{{task.Done}}% Complete</small>
                          </td>
                          <td>
                            {% if task.is_started %}
                              <button type="button" class="btn btn-success btn-ok">Unavailable</button>
                              {% else %}
                              {% if task.is_completed %}
                              <button type="button" class="btn btn-success btn-xs">Done</button>
                              {% else %}
                                {% if task.is_over %}
                                <button type="button" class="btn btn-danger btn-xs">Danger</button>
                                {% else %}
                                  {% if task.is_late %}
                                    <button type="button" class="btn btn-warning btn-xs">Warning</button>
                                  {% else %}
                                    <button type="button" class="btn btn-info btn-xs">Ok</button>
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          </td>
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="{% url 'ProjectManagement:edittask' user.id project.id task.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  <!-- </ul> -->
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Users List</h2> 
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                        {% if user.id == project.Creator %}
                          <li><a href="{% url 'ProjectManagement:adduser' user.id project.id%}"><i class="fa fa-plus"></i></a>
                        {% else %}
                          <li><a href="" ><i class="fa fa-plus"></i></a>
                        {% endif %}
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <p>Simple table with user listing with progress and editing options</p>

                    <!-- start project list -->
                  <!-- <ul class="nav child_menu"> -->
                    <!-- USER LIST --> 
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%"> Name</th>
                          <th style="width: 15%"> Id </th>
                          <th style="width: 15%">Role</th>
                          <th style="width: 10%">Status</th>
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a>Vũ Lê Hoàng</a>
                            <br />
                            <small>Joined 01.01.2015</small>
                          </td>
                          <td>
                            <a> hoangvl98 </a>
                          </td>
                          <td class="project_progress">
                            <a> Developer </a>
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Online</button>
                          </td>
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td>
                            <a>Kim Jisoo</a>
                            <br />
                            <small>Joined 02.01.2015</small>
                          </td>
                          <td>
                            <a> Jisookim96kr </a>
                          </td>
                          <td class="project_progress">
                            <a> Intership </a>
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Online</button>
                          </td>
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>

                        <tr>
                          <td>3</td>
                          <td>
                            <a>Angela Baby</a>
                            <br />
                            <small>Joined 06.09.2015</small>
                          </td>
                          <td>
                            <a> Angela9xcn </a>
                          </td>
                          <td class="project_progress">
                            <a> Customer </a>
                          </td>
                          <td>
                            <button type="button" class="btn btn-dark btn-xs">Offline</button>
                          </td>
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END USER LIST -->
                  </div>
                </div>
              </div>
            </div>
            
            <!-- FEEDBACK LIST -->
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Feedback List</h2> 
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a href="newfeedback.html" ><i class="fa fa-plus"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <p>Simple table with feedback listing with editing options</p>

                    <!-- start project list -->
                  <!-- <ul class="nav child_menu"> -->
                    <!-- USER LIST --> 
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%"> Feedback</th>
                          <th style="width: 15%"> Date </th>
                          <th style="width: 15%"> From </th>
                          <th style="width: 10%">Status</th>
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a>Chào Hoàng, hihi</a>
                          </td>
                          <td>
                            <a> 17/9/2018 </a>
                          </td>
                          <td class="project_progress">
                            <a> hoangvl98 </a>
                          </td>
                          <td>
                            <button type="button" class="btn btn-dark btn-xs">No-reply</button>
                          </td>
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END FEEDBACK LIST -->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
<!--         <footer>
          <div class="pull-right">
            VPBS Project Management - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer> -->
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'ProjectManagement/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'ProjectManagement/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'ProjectManagement/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'ProjectManagement/vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'ProjectManagement/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'ProjectManagement/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'ProjectManagement/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'ProjectManagement/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'ProjectManagement/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'ProjectManagement/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'ProjectManagement/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'ProjectManagement/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'ProjectManagement/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'ProjectManagement/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'ProjectManagement/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'ProjectManagement/build/js/custom.min.js' %}"></script>
	
  </body>
</html>
